<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/diayes.css">
    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
</head>
</head>
<body>


    <nav>
        <div class="logo">
            <img class="logo" src="../static/1.png">
        </div>
            <div class="menu">
            <a href="#">Home</a>
            <a href="#about">About</a>
            <a href="#blog">Calculator</a>
            <a href="#contact">Contact</a>
        </div>
        
    </nav>
    
        <div class='form '>
            
            <center><h2>Patient Details</h2></center>
            <br>
            <p>Name : {{name}} </p>
            <br>
            <p>Age (years) : {{x8}}</p>
           
            <br>
            <p>Number of times Pregnant : {{x1}}</p>
            <br>
            <p>Glucose Concentration :{{x2}}</p>
            <br>
            <p>Blood Pressure (mm Hg) : {{x3}}</p>
            <br>
            <p>Skin Thickness : {{x4}}</p>
            <br>
            <p>Insulin Level : {{x5}}</p>
            <br>
            <p>Body Mass Index : {{x6}}</p>
            <br>
            <p>Diabetes Pedigree :{{x7}}</p>
            <br>
            <p>Result : (-)ve</p>
            <center> (you don't have diabetes)</center>
        </div>
   
    <div>
         <p align="center" class="back"><a href=/home ><button class="submit formEntry">Go to Home</button></a></p>
        
    </div>
</body>
</html>
           

