<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/diayes.css">
    <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">
</head>
</head>
<body>


    <nav>
        <div class="logo">
            <img class="logo" src="../static/1.png">
        </div>
            <div class="menu">
            <a href="#">Home</a>
            <a href="#about">About</a>
            <a href="#blog">Calculator</a>
            <a href="#contact">Contact</a>
        </div>
        
    </nav>
    
        <div class='form '>
            
            <p class=typewriter-text>You<br><br>Don't<br><br>Have<br><br> Diabetes<br><br>&#128512;</div>
        </div>
   
    <div>
         <p align="center" class="back"><a href=/home ><button class="submit formEntry">Go to Home</button></a></p>
        
    </div>
</body>
</html>
           

