<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>
<body>
    <div>
        <p>Welcome to diabetes Prediction app </p>
    </div>
   <br/>
   <br/>
    <h1 >Diabetes Prediction </h1>
    <br/> <br/> <br/> <br/>
    <div class='form'>
    <form action='/pred' method="GET">
        Number of times Pregnant :  &nbsp;<input name =z1 />
        <br/>
        <br>

        Glucose Concentration : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name =z2 />
        <br/>
        <br/>

        Blood Pressure (mm Hg) :  &nbsp;&nbsp;<input name =z3 />
        <br/>
        <br/>
        Skin Thickness : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name =z4 />
        <br/>
        <br/>
        Insulin Level : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name =z5 />
        <br/><br/>
        Body Mass Index : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name =z6 />
        <br/><br/>
        Diabetes Pedigree : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name =z7 />
        <br/><br/>
        Age (years) : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name =z8 />
        <br/><br/>
        <input type="submit" />
        </form>
